.layout__main {
  background-color: rgba(52, 52, 52, 0.992);
  min-height: 100vh;
  padding-top: $layout-padding-default;
  padding-bottom: $layout-padding-default;
  transition: margin-left $transition-duration-default
      $transition-easing-default,
    margin-right $transition-duration-default $transition-easing-default;
}

.layout__content {
  background-color: rgba(4, 93, 99, 0.318);
  min-height: 200vh;
  flex: 1 1 auto;
  padding: $layout-content-padding;
  margin-left: $layout-padding-default;
  margin-right: $layout-padding-default;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
}
