// Main container styles
.layout-main-container {
  min-height: 100vh;
  margin-left: calc(#{$sidebar-width-overlay} + #{$layout-padding-default});
  padding: $layout-padding-default;
  // Correct transition syntax
  transition: margin-left $transition-duration-default
      $transition-easing-default,
    margin-right $transition-duration-default $transition-easing-default;

  padding-top: $layout-padding-main-top + ($layout-padding-default * 2);
}

// Main content area styles
.layout-main {
  background-color: chartreuse;

  min-height: 100vh;
  flex: 1 1 auto;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  padding: $layout-padding-default;
}
