// Main Footer styles
.footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $layout-padding-default;
  border-top: 1px solid var(--surface-border);
  margin-top: $layout-padding-default;
  background-color: var(--surface-background);
  transition: margin-left $transition-duration-default;
}
