@media (min-width: 992px) {
  .layout-wrapper {
    &.overlay-topbar {
      .layout-topbar {
        position: absolute;
      }
    }

    &.toggle-config {
      .layout-config {
        transform: translateX(0);
        right: $layout-padding-default;
      }
      .layout-main-container {
        margin-right: calc($sidebar-width-overlay + #{$layout-padding-default});
      }
      .layout-topbar {
        margin-left: var(2 * $sidebar-width-overlay);
        width: calc(
          100% -
            (2 * #{$sidebar-width-overlay} + #{4 * $layout-padding-default})
        );
      }
      .layout-modal {
        width: calc(
          100% -
            ((#{2 * $sidebar-width-hover}) + #{2 * $layout-padding-default})
        );
        margin-right: $sidebar-width-overlay + $layout-padding-default;
      }

      // .layout-mask {
      //   display: block;
      //   animation: fadein $transition-duration-default;
      // }
    }

    &.toggle-modal {
      .layout-modal-container {
        transform: translateX(0);
        right: $layout-padding-default;
        width: calc(100% - 2 * $layout-padding-default);
      }
      .layout-modal {
        background-color: chartreuse;
        height: 100%;
        width: calc(
          100% - (#{$sidebar-width-overlay} + #{$layout-padding-default})
        );
        margin-left: auto;
        margin-right: 0;
        transition: transform $transition-duration-default
            $transition-easing-default,
          left $transition-duration-default $transition-easing-default,
          width $transition-duration-default $transition-easing-default;
      }
    }

    &.static-sidebar {
      .layout-sidebar {
        width: $sidebar-width-default;
        transform: none;
        left: $layout-padding-default;
      }
      .layout-main-container {
        margin-left: calc($sidebar-width-default + #{$layout-padding-default});
      }
      .layout-topbar {
        margin-left: calc($sidebar-width-default + #{$layout-padding-default});
        width: calc(
          100% - ($sidebar-width-default + #{3 * $layout-padding-default})
        );
      }
      .layout-modal {
        width: calc(
          100% - (#{$sidebar-width-default} + #{$layout-padding-default})
        );
      }

      // Enable toggle-sidebar when static-sidebar is active
      &.toggle-sidebar {
        .layout-sidebar {
          transform: translateX(-100%);
          left: 0;
        }
        .layout-main-container {
          margin-left: 0;
        }
        .layout-topbar {
          margin-left: 0;
          width: calc(100% - (2 * #{$layout-padding-default}));
        }

        &.toggle-config {
          .layout-config {
            transform: translateX(0);
            right: $layout-padding-default;
          }
          .layout-main-container {
            margin-right: calc(
              $sidebar-width-overlay + #{$layout-padding-default}
            );
          }
          .layout-topbar {
            margin-left: var(2 * $sidebar-width-overlay);
            width: calc(
              100% - (#{$sidebar-width-hover} + #{3 * $layout-padding-default})
            );
          }
          .layout-modal {
            width: calc(
              100% - ((#{$sidebar-width-hover}) + #{$layout-padding-default})
            );
            margin-right: $sidebar-width-overlay + $layout-padding-default;
          }
        }
        .layout-modal {
          width: 100%;
        }
      }

      &.toggle-config {
        .layout-config {
          transform: translateX(0);
          right: $layout-padding-default;
        }
        .layout-main-container {
          margin-right: calc(
            $sidebar-width-overlay + #{$layout-padding-default}
          );
        }
        .layout-topbar {
          margin-left: var(2 * $sidebar-width-overlay);
          width: calc(
            100% -
              (
                #{$sidebar-width-default} + #{$sidebar-width-hover} + #{4 *
                  $layout-padding-default}
              )
          );
        }
        .layout-modal {
          width: calc(
            100% -
              (
                (#{$sidebar-width-default} + #{$sidebar-width-hover}) + #{2 *
                  $layout-padding-default}
              )
          );
          margin-right: $sidebar-width-overlay + $layout-padding-default;
        }
      }

      .layout-menuitem-text,
      .layout-submenu-toggler {
        display: block;
        animation: slideInText 0.3s ease-out forwards;
      }

      .sidebar-menu ul ul li a {
        margin-left: 1rem;
        animation: slideInText 0.3s ease-out forwards;
      }
    }

    &.toggle-sidebar {
      .layout-sidebar {
        transform: translateX(0);
        width: $sidebar-width-default;
        left: $layout-padding-default;
        transition: transform $transition-duration-default
            $transition-easing-default,
          left $transition-duration-default $transition-easing-default,
          width $transition-duration-default $transition-easing-default;
      }
      .layout-main-container {
        margin-left: calc($sidebar-width-default + #{$layout-padding-default});
      }
      .layout-topbar {
        margin-left: calc($sidebar-width-default + #{$layout-padding-default});
        width: calc(
          100% - ($sidebar-width-default + #{3 * $layout-padding-default})
        );
      }

      .layout-menuitem-text,
      .layout-submenu-toggler {
        display: block;
        animation: slideInText 0.3s ease-out forwards;
      }

      .sidebar-menu ul ul li a {
        margin-left: 1rem;
        animation: slideInText 0.3s ease-out forwards;
      }

      &.toggle-config {
        .layout-config {
          transform: translateX(0);
          right: $layout-padding-default;
        }
        .layout-main-container {
          margin-right: calc(
            $sidebar-width-overlay + #{$layout-padding-default}
          );
        }
        .layout-topbar {
          margin-left: var(2 * $sidebar-width-overlay);
          width: calc(
            100% -
              (
                #{$sidebar-width-default} + #{$sidebar-width-overlay} + #{4 *
                  $layout-padding-default}
              )
          );
        }
        .layout-modal {
          width: calc(
            100% -
              (
                (#{$sidebar-width-default} + #{$sidebar-width-hover}) + #{2 *
                  $layout-padding-default}
              )
          );
          margin-right: $sidebar-width-hover + $layout-padding-default;
        }
      }
      .layout-modal {
        width: calc(
          100% - ((#{$sidebar-width-default}) + #{$layout-padding-default})
        );
        margin-right: 0;
      }
    }

    &.overlay-layout {
      .layout-sidebar {
        transform: translateX(-100%);
        left: 0;
      }
      .layout-main-container {
        margin-left: 0;
        margin-right: 0;
      }
      .layout-topbar {
        margin-left: 0;
        width: calc(100% - (2 * #{$layout-padding-default}));
      }

      // Ensure toggle-sidebar works in overlay-layout
      &.toggle-sidebar {
        .layout-sidebar {
          transform: translateX(0);
          width: $sidebar-width-default;
          left: $layout-padding-default;
        }
        .layout-main-container {
          margin-left: 0;
        }
        .layout-topbar {
          margin-left: 0;
          width: calc(100% - (2 * #{$layout-padding-default}));
        }
        .layout-mask {
          display: block;
          animation: fadein $transition-duration-default;
        }

        &.toggle-config {
          .layout-config {
            transform: translateX(0);
            right: $layout-padding-default;
            top: $layout-padding-default;
            height: calc(100vh - 2 * #{$layout-padding-default});
          }
          .layout-main-container {
            margin-right: 0;
          }
          .layout-topbar {
            margin-left: 0;
            width: calc(100% - (2 * #{$layout-padding-default}));
          }
        }
      }

      &.toggle-config {
        .layout-config {
          transform: translateX(0);
          right: $layout-padding-default;
          top: $layout-padding-default;
          height: calc(100vh - 2 * #{$layout-padding-default});
        }
        .layout-main-container {
          margin-right: 0;
        }
        .layout-topbar {
          margin-left: 0;
          width: calc(100% - (2 * #{$layout-padding-default}));
        }
      }

      .layout-menuitem-text,
      .layout-submenu-toggler {
        display: block;
        animation: slideInText 0.3s ease-out forwards;
      }

      .sidebar-menu ul ul li a {
        margin-left: 1rem;
        animation: slideInText 0.3s ease-out forwards;
      }

      .navbar-menu {
        display: block;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;

        .navbar-item {
          position: relative;
          padding: 0.5rem 1rem;
          cursor: pointer;

          &:hover > .navbar-submenu {
            display: block;
          }
        }

        .navbar-link {
          text-decoration: none;
          font-size: 1rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          // padding: 0 15px;
          // height: 60px;
          color: var(--text-color);
          transition: background-color $transition-duration-default;

          &:hover {
            background-color: var(--surface-hover);
          }

          i {
            // margin-right: 5px;
            margin-left: 0.5rem;
            font-size: 0.75rem;
          }
        }

        .navbar-submenu {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: var(--surface-overlay);
          padding: 0.5rem 0;
          min-width: 200px;
          display: none;
          box-shadow: $box-shadow-default;
          z-index: 1000;

          list-style-type: none;

          .navbar-item {
            width: 100%;
          }

          .navbar-link {
            padding: 10px 15px;
            height: auto;
          }

          .navbar-submenu {
            top: 0;
            left: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    &.overlay-topbar {
      .layout-topbar {
        position: absolute;
      }
    }

    &.toggle-sidebar {
      .layout-sidebar {
        transform: translateX(0);
        width: $sidebar-width-default;
        border-radius: $border-radius-full-right;
      }
      .layout-mask {
        display: block;
        animation: fadein $transition-duration-default;
      }

      .layout-menuitem-text,
      .layout-submenu-toggler {
        display: block;
        animation: slideInText 0.3s ease-out forwards;
      }

      .sidebar-menu ul ul li a {
        margin-left: 1rem;
        animation: slideInText 0.3s ease-out forwards;
      }
    }

    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      border-radius: 0;
    }
    .layout-topbar {
      margin-left: 0;
      width: calc(100% - (2 * $layout-padding-default));
    }
    .layout-main-container {
      margin-left: 0;
    }

    &.toggle-config {
      .layout-config {
        transform: translateX(0);
        right: $layout-padding-default;
        top: $layout-padding-default;
        height: calc(100vh - 2 * #{$layout-padding-default});
      }
      .layout-main-container {
        margin-right: 0;
      }
      .layout-topbar {
        margin-left: 0;
        width: calc(100% - (2 * #{$layout-padding-default}));
      }
    }
  }
}

@media (max-width: 368px) {
  .layout-topbar {
    // flex-direction: column;
    height: auto;
    gap: $layout-padding-default;
  }
  .layout-main-container {
    padding-top: $layout-mobile-padding-main-top;
  }
  .topbar-config {
    width: 100%;
  }

  .layout-topbar-menu {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
}
