@media screen and (min-width: 1960px) {
  .layout-main {
    width: 1504px;
    margin: 0 auto !important;
  }
}

@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-overlay {
      .layout-topbar {
        margin-left: 0 !important;
        position: relative;
        width: calc(100% - (#{$layoutPadding} + #{$layoutPadding}));
      }
      .layout-main-container {
        margin-left: 0;
        padding: ($layoutPadding + $layoutPadding) $layoutPadding $layoutPadding
          $layoutPadding;
      }
      .layout-sidebar {
        transform: translateX(-100%);
        left: 0;
        top: 6rem;
        bottom: 1rem;
        height: calc(100vh - 7rem);
        border-radius: 0;
      }
      &.layout-overlay-active {
        .layout-sidebar {
          transform: translateX(0);
          top: calc($layoutMainPaddingTop + ($layoutPadding + $layoutPadding));
          height: calc(100vh - 3 * $layoutPadding - $layoutMainPaddingTop);
        }
      }
    }

    &.layout-static {
      .layout-main-container {
        margin-left: calc(300px + $layoutPadding);
        padding: ($layoutMainPaddingTop + $layoutPadding + $layoutPadding)
          $layoutPadding $layoutPadding $layoutPadding;
      }
      .layout-topbar {
        margin-left: calc(300px + $layoutPadding);
      }
      &.layout-static-inactive {
        .layout-sidebar {
          transform: translateX(-100%);
          left: 0;
        }
        .layout-main-container {
          margin-left: 0;
          padding-left: 2rem;
        }
      }
    }

    &.layout-topbar-static {
      .layout-topbar {
        position: relative;
        width: calc(100% - 300px - 3 * $layoutPadding);
      }
      .layout-main-container {
        padding-top: 2 * $layoutPadding;
      }
      .topbar-mask {
        display: none;
      }
    }

    &.layout-sidebar-overlay {
      .layout-main-container {
        margin-left: calc($layoutSidebarWidthOverlay + $layoutPadding);
      }

      .layout-topbar {
        margin-left: $layoutSidebarWidthOverlay + $layoutPadding;
        width: calc(
          100% -
            (
              $layoutSidebarWidthOverlay + #{(
                  $layoutPadding + $layoutPadding + $layoutPadding
                )}
            )
        ) !important;
      }

      .layout-sidebar {
        width: $layoutSidebarWidthOverlay;
        transition: width 0.3s ease-in-out;

        &:hover {
          width: 300px;
          ~ .layout-topbar {
            right: $layoutPadding !important;
            margin-left: calc(300px + $layoutPadding);
            width: calc(100% - 300px - 3 * $layoutPadding) !important;
            transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
          }
          ~ .layout-main-container {
            margin-left: calc(300px + $layoutPadding);
            transition: margin-left 0.3s ease-in-out;
          }
        }
      }
    }

    .layout-mask {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .blocked-scroll {
    overflow: hidden;
  }
  .layout-wrapper {
    .layout-main-container {
      margin-left: 0;
      padding: calc($layoutMainPaddingTop + 2 * $layoutPadding) $layoutPadding;
    }
    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 1rem;
      bottom: 1rem;
      height: calc(100vh - 2rem);
      border-radius: 0;
    }
    .layout-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 998;
      width: 100%;
      height: 100%;
      background-color: var(--maskbg);
    }
    &.layout-topbar-static {
      .layout-topbar {
        position: relative;
      }
      .layout-main-container {
        padding-top: 2 * $layoutPadding;
      }
      .topbar-mask {
        display: none;
      }
    }
    &.layout-mobile-active {
      .layout-sidebar {
        transform: translateX(0);
      }
      .layout-mask {
        display: block;
        animation: fadein $transitionDuration;
      }
    }

    &.layout-sidebar-overlay {
      .layout-topbar {
        margin-left: 0;
        width: calc(100% - #{$layoutPadding + $layoutPadding}) !important;
      }
    }
  }
}
