// Main sidebar styles
.layout-sidebar {
  background-color: var(--surface-overlay);
  width: $sidebar-width-hover;
  height: calc(100vh - 2 * $layout-padding-default);
  position: fixed;
  top: $layout-padding-default;
  left: $layout-padding-default;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  overflow-y: auto;
  user-select: none;
  z-index: 999;
  padding: 0.5rem;
  transition: transform $transition-duration-default $transition-easing-default,
    left $transition-duration-default $transition-easing-default,
    width $transition-duration-default $transition-easing-default;

  &:hover {
    width: $sidebar-width-default;
    ~ .layout-main-container {
      margin-left: calc($sidebar-width-default + #{$layout-padding-default});
    }
    ~ .layout-topbar {
      margin-left: calc($sidebar-width-default + #{$layout-padding-default});
      width: calc(
        100% - ($sidebar-width-default + #{3 * $layout-padding-default})
      );
    }
  }
}
