.layout__sidebar {
  background-color: var(--surface-overlay);
  width: $sidebar-width-mini;
  height: calc(100vh - 2 * $layout-padding-default);
  position: fixed;
  top: $layout-padding-default;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  z-index: 999;
  transform: translateX(-100%);
  left: 0;

  transition: transform $transition-duration-default $transition-easing-default,
    left $transition-duration-default $transition-easing-default,
    width $transition-duration-default $transition-easing-default,
    height $transition-duration-default $transition-easing-default;
  padding-bottom: $layout-sidebar-padding-bottom + $layout-padding-default;
}

.layout__sidebar-right {
  background-color: var(--surface-overlay);
  width: $sidebar-width-mini;
  height: calc(100vh - (2 * $layout-padding-default));
  position: fixed;
  top: $layout-padding-default;
  right: $layout-padding-default;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  z-index: 999;

  transform: translateX(100%);
  right: 0;

  transition: transform $transition-duration-default $transition-easing-default,
    right $transition-duration-default $transition-easing-default,
    width $transition-duration-default $transition-easing-default;
  padding-bottom: $layout-sidebar-padding-bottom + $layout-padding-default;

  //   ~ .layout__main {
  //     margin-right: calc($sidebar-width-mini + #{$layout-padding-default});
  //   }

  &:hover {
    width: $sidebar-width-default;

    // ~ .layout__main {
    //   margin-right: calc($sidebar-width-default + #{$layout-padding-default});
    // }

    // Apply the width change when `.toggle-config` is present on the sidebar
    .toggle-config & {
      ~ .layout-topbar {
        width: calc(
          100% -
            (
              #{$sidebar-width-default} + #{$sidebar-width-mini} + #{4 *
                $layout-padding-default}
            )
        );
      }
    }
    .toggle-config & {
      ~ .layout-topbar {
        width: calc(
          100% -
            (
              #{$sidebar-width-default} + #{$sidebar-width-mini} + #{4 *
                $layout-padding-default}
            )
        );
      }
    }
  }
}

.layout__modal {
  background-color: var(--surface-overlay);
  width: calc(100% - 2 * $layout-padding-default);
  height: calc(100vh - (2 * $layout-padding-default));
  position: fixed;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  z-index: 999;
  transform: translateX(100%);

  transition: transform $transition-duration-modal $transition-easing-default,
    right $transition-duration-modal $transition-easing-default,
    width $transition-duration-modal $transition-easing-default;
}

.layout__bottombar {
  display: none;
}
