.layout__topbar {
  height: auto;
  width: auto;
  flex: 1 1 auto;
  padding-bottom: $layout-padding-default;
  margin-left: $layout-padding-default;
  margin-right: $layout-padding-default;
  display: flex;
  flex-direction: column;
  gap: $layout-topbar-gap;
  position: relative;

  transition: margin-left $transition-duration-default
      $transition-easing-default,
    margin-right $transition-duration-default $transition-easing-default,
    width $transition-duration-default $transition-easing-default;

  .layout__notification-bar {
    background-color: rgb(173, 173, 173);
    display: none;
    height: $notification-topbar-height;
    border-radius: $notification-topbar-radius;
    font-size: small;
    z-index: 999;
    text-align: center;
    overflow: scroll;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .layout__nav {
    background-color: rgba(5, 112, 39, 0.465);
    height: $layout-topbar-hight;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
  }
}

.layout__topbar-fixed {
  .layout__main {
    padding-top: 5rem + (2 * $layout-padding-default);
    &::before {
      content: "";
      background-color: rgba(30, 28, 28, 0.596);
      position: fixed;
      top: 0;
      border-radius: 0;
      left: 0;
      width: 100%;
      height: $layout-topbar-hight + ($layout-padding-default);
      z-index: 1;
      border-radius: $border-radius-default;
    }
    .layout__topbar {
      position: fixed;
      top: $layout-padding-default;
      left: 0;
      right: 0;
      box-sizing: border-box;
      max-width: 100%;
      z-index: 997;
    }
  }
}
