.layout-topbar {
  // height: $layout-padding-main-top;
  height: auto;
  margin-left: calc(#{$sidebar-width-overlay} + #{$layout-padding-default});
  margin-top: $layout-padding-default;
  width: calc(100% - #{3 * $layout-padding-default} - #{$sidebar-width-hover});
  position: fixed;
  left: $layout-padding-default;
  transition: margin-left $transition-duration-default
      $transition-easing-default,
    width $transition-duration-default $transition-easing-default;
  border-radius: $border-radius-default;
  z-index: 997;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--surface-ground);
    top: -$layout-padding-default;
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .topbar-main {
    flex: 1 1 auto;
    height: 100%;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-default;
    // padding: 0 $layout-padding-default;
    padding: $layout-padding-default;

    background-color: var(--surface-overlay);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .topbar-header {
    text-align: start;
    .breadcrumb {
      font-size: 0.875rem;
      color: var(--text-color-secondary);
      margin-bottom: 0.25rem;

      .breadcrumb-link {
        color: var(--primary-color);
        text-decoration: none;
      }
    }
    .title {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--text-color);
      margin: 0;
    }
  }

  .layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color $transition-duration-default;
    border-color: transparent;
    background-color: transparent;

    &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
    }

    &:focus {
      @include focused();
    }

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
      display: none;
    }
  }

  .layout-menu-button {
    margin-left: 2rem;
  }

  .layout-topbar-menu-button {
    display: none;

    i {
      font-size: 1.25rem;
    }
  }

  .layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;

    .layout-topbar-button {
      margin-left: 1rem;
    }
  }

  .navbar-menu {
    display: none;
  }
}

@media (max-width: 991px) {
  .layout-topbar .topbar-main {
    justify-content: space-between;

    .layout-topbar-logo {
      width: auto;
      order: 2;
    }

    .layout-menu-button {
      margin-left: 0;
      order: 1;
    }

    .layout-topbar-menu-button {
      display: inline-flex;
      margin-left: 0;
      order: 3;
      // background-color: coral;
      display: flex;
      justify-content: end;
    }

    .layout-topbar-menu {
      margin-left: 0;
      position: absolute;
      flex-direction: column;
      background-color: var(--surface-overlay);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
        0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      padding: 1rem;
      right: 2rem;
      top: 5rem;
      min-width: 15rem;
      display: none;
      -webkit-animation: scalein 0.15s linear;
      animation: scalein 0.15s linear;

      &.layout-topbar-menu-mobile-active {
        display: block;
      }

      .layout-topbar-button {
        margin-left: 0;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        border-radius: 12px;
        padding: 1rem;

        i {
          font-size: 1rem;
          margin-right: 0.5rem;
        }

        span {
          font-weight: medium;
          display: block;
        }
      }
    }
  }
}
