// ** Layout Padding Variables **
$layout-padding-default: 1rem; // Default padding
$layout-padding-main-top: 7rem; // Padding top
$layout-mobile-padding-main-top: 11rem; // Padding top
$layout-sidebar-padding-bottom: 3rem; // Padding bottom
$topbar-hight-default: 5rem; // Layout Topbar hight
// ** Sidebar Width **
$sidebar-width-default: 300px; // Default sidebar width
$sidebar-width-hover: 5rem; // Sidebar hover width

$topbar-height-default: 5rem; // Layout Topbar height
$sidebar-width-overlay: 5rem; // Sidebar overlay width

// ** Border Radius Variables **
$border-radius-default: 12px; // Default border radius
$border-radius-full-right: 0 $border-radius-default $border-radius-default 0; // Full Bottom right radius

// ** Box Shadow Variables **
$box-shadow-default: 0px 3px 5px rgba(0, 0, 0, 0.02),
  0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08); // Default box shadow

// ** Transition Variables **
$transition-duration-default: 0.3s; // Default transition duration
$transition-easing-default: ease-in-out; // Default transition easing
