$borderRadius: 12px;
$transitionDuration: 0.2s;
$borderRadiusBottom: 0 0 12px;
$borderRadiusBottom: 0 0 12px 12px;
$borderRadiusBottomLeft: 0 0 0 12px;
$borderRadiusBottomRight: 0 0 12px 0;
$layoutPadding: 1rem;
$layoutMainPaddingTop: 5rem;
$layoutSidebarWidthOverlay: 6rem;
